* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  user-select: none; }

html {
  font-size: calc(110% + 0.5vmin); }

body {
  background-color: #212121; }

p {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 1vh;
  padding-top: 1vh;
  padding-left: 1vw; }

h2 {
  font-family: 'Rubik', sans-serif;
  padding-top: 3vh;
  padding-bottom: 1vh; }

h3 {
  font-family: 'Rubik', sans-serif;
  padding-bottom: 1vh;
  font-size: 1.175em; }

a {
  color: #212121;
  text-decoration-color: blue; }

nav {
  height: 15vh; }
  nav ul li {
    display: inline;
    font-family: 'Rubik', sans-serif;
    color: white; }
    nav ul li img {
      position: fixed;
      width: 11vh;
      height: 11vh;
      z-index: 1;
      padding-left: 4vh;
      padding-top: 2vh;
      padding-bottom: 2vh; }
    nav ul li img:active {
      -webkit-filter: blur(1px);
      filter: blur(1px);
      transition: filter 0.2s ease; }
    nav ul li div {
      float: right;
      padding-right: 5vw;
      padding-top: 5vh;
      padding-bottom: 5vh; }

@media (min-width: 1025px) {
  nav ul li img:hover {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    transition: filter 0.2s ease; } }
footer {
  height: 4vh;
  overflow-y: hidden; }
  footer p {
    color: white;
    font-size: 0.5em;
    text-align: right;
    padding-right: 5vw;
    line-height: 2vh; }

#card1 {
  background-color: white;
  width: 100%;
  margin-top: 50vh; }

.contentCard {
  background-color: white;
  width: 100%;
  margin-top: 15vh; }

#mainImage {
  position: relative;
  margin-left: 33vw;
  width: 34vw;
  transform: translateY(-50%);
  padding-bottom: 1vh;
  border-radius: 50%; }

.centeredBoxwithImage {
  margin-top: -17vw;
  padding-left: 19vh;
  padding-bottom: 2vh; }

.centeredBox {
  position: relative;
  padding-left: 19vh;
  padding-top: 2vh;
  padding-bottom: 2vh; }

.cards {
  padding: 15px;
  display: flex;
  flex-flow: row wrap; }

.card {
  margin: 15px;
  width: calc((100% / 3) - 30px);
  transition: all 0.2s ease-in-out; }
  @media screen and (max-width: 991px) {
    .card {
      width: calc((100% / 2) - 30px); } }
  @media screen and (max-width: 767px) {
    .card {
      width: 90%; } }
  .card:hover .card__inner {
    background-color: white;
    color: #212121;
    border-style: solid;
    border-width: 1px; }
  .card__inner {
    width: 100%;
    padding: 30px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    background-color: #212121;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    text-align: center;
    transition: all 0.2s ease-in-out; }
    .card__inner:after {
      transition: all 0.3s ease-in-out; }
  .card__expander {
    transition: all 0.2s ease-in-out;
    background-color: #212121;
    position: relative;
    display: flex;
    justify-content: left;
    color: white; }
    @media screen and (max-width: 767px) {
      .card__expander {
        display: flex;
        justify-content: left;
        flex-direction: column;
        flex-wrap: wrap; } }
  .card.is-collapsed .card__inner:after {
    content: "";
    opacity: 0; }
  .card.is-collapsed .card__expander {
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    margin-top: 0;
    opacity: 0; }
  .card.is-expanded .card__inner {
    background-color: #212121;
    color: white; }
  .card.is-expanded .card__expander {
    overflow: visible;
    margin-top: 30px;
    opacity: 1; }
  .card.is-inactive .card__inner {
    pointer-events: none;
    opacity: 0.5; }
  .card.is-inactive:hover .card__inner {
    background-color: #212121; }

@media screen and (min-width: 992px) {
  .card:nth-of-type(3n+2) .card__expander {
    margin-left: calc(-100% - 30px); }

  .card:nth-of-type(3n+3) .card__expander {
    margin-left: calc(-200% - 60px); }

  .card:nth-of-type(3n+4) {
    clear: left; }

  .card__expander {
    width: calc(300% + 60px); } }
@media screen and (min-width: 768px) and (max-width: 991px) {
  .card:nth-of-type(2n+2) .card__expander {
    margin-left: calc(-100% - 30px); }

  .card:nth-of-type(2n+3) {
    clear: left; }

  .card__expander {
    width: calc(200% + 30px); } }
.projectImage {
  height: 60vh;
  margin-left: 10vh;
  margin-top: 5vh;
  margin-bottom: 5vh; }
  @media screen and (max-width: 767px) {
    .projectImage {
      height: 30vw;
      margin-left: 20vw;
      margin-top: 5vh; } }

.projectText {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 5vw;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  text-overflow: ellipsis; }
  @media screen and (max-width: 767px) {
    .projectText {
      margin-top: 2vh; } }
  .projectText h2 {
    font-size: 1.25em; }
  .projectText p {
    font-size: 0.75;
    color: white;
    text-overflow: ellipsis; }
  .projectText div {
    margin-top: auto;
    margin-bottom: 6vh; }
    .projectText div span {
      background-color: white;
      color: #212121;
      border-radius: 0.25em;
      padding: 0.4vw 0.6vw;
      margin: 0 0.6vw; }

/*# sourceMappingURL=style.css.map */
